<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parameterization">
  <test thread-count="5" name="TestParameter">
    <classes>
      <class name="week5.day1.ParameterizationLearn"/>
    </classes>
  </test> <!-- TestParameter -->
</suite> <!-- Parameterization -->
